---
title: Static Analysis, Verification
---

# Static Analysis, Verification

[Rosette: About](https://emina.github.io/rosette/)

[emina/rosette: The Rosette solver-aided host language, sample solver-aided DSLs, and demos](https://github.com/emina/rosette)

[(159) Synthesis and Verification for All - Emina Torlak - YouTube](https://www.youtube.com/watch?v=KpDyuMIb_E0&list=PLZdCLR02grLp4W4ySd1sHPOsK83gvqBQp&index=26)

[UNSAT: Serval](https://unsat.cs.washington.edu/projects/serval/)

[UNSAT: Jitterbug](https://unsat.cs.washington.edu/projects/jitterbug/)

[Cosette: An Automated SQL Solver](http://cosette.cs.washington.edu/)

[Specifying and Checking File System Crash-Consistency Models](http://sandcat.cs.washington.edu/ferrite/)

[MemSynth](https://web.archive.org/web/20230320092424/http://memsynth.uwplse.org/)

[Ocelot](https://ocelot.memsynth.org/)

[Optimizing Synthesis with Metasketches](https://web.archive.org/web/20230215054359/http://synapse.uwplse.org/)

[UW PLSE Neutrons](https://web.archive.org/web/20230331131357/http://neutrons.uwplse.org/)

[GreenThumb](https://web.archive.org/web/20190827232628/http://pl.eecs.berkeley.edu/projects/greenthumb/)

[Chlorophyll](https://web.archive.org/web/20191223200230/http://pl.eecs.berkeley.edu/projects/chlorophyll/)

[Synthesizing Evidence of Emergent Computation (SEEC) - Galois, Inc.](https://galois.com/project/seec/)

[Bagpipe](http://www.konne.me/bagpipe/)

[EPICS - Experimental Physics and Industrial Control System](https://epics.anl.gov/)

[yunshengtw/scftl](https://github.com/yunshengtw/scftl)

[anishathalye/notary: Notary: A Device for Secure Transaction Approval 📟](https://github.com/anishathalye/notary)

[mangpo/swizzle-inventor: A framework that helps implementing swizzle GPU kernels](https://github.com/mangpo/swizzle-inventor)

[edbutler/nonograms-rule-synthesis: Source code for publication "Synthesizing Interpretable Strategies for Solving Puzzle Games" from FDG 2017.](https://github.com/edbutler/nonograms-rule-synthesis)

[jamesbornholt/quivela: Quivela is a prototype tool for constructing proofs of the security of cryptographic protocols.](https://github.com/jamesbornholt/quivela)

[alanb2718/wallingford: An experimental DSL for handling state and updates, along with constraints, in Rosette.](https://github.com/alanb2718/wallingford)

[rosette/sdsl at master · emina/rosette · GitHub](https://github.com/emina/rosette/tree/master/sdsl)

[This FTP site](https://okmij.org/ftp/)

[ML Programming](https://okmij.org/ftp/ML/ML.html)

[Monads](https://okmij.org/ftp/Computation/monads.html)

[Haskell Programming](https://okmij.org/ftp/Haskell/)

[Prolog and Logic Programming](https://okmij.org/ftp/Prolog/Prolog.html)

[Type-safe Formatted IO](https://okmij.org/ftp/typed-formatting/FPrintScan.html)

[Tagless-Final Style](https://okmij.org/ftp/tagless-final/)

[Tagless-Final Cookbook](https://okmij.org/ftp/tagless-final/cookbook.html)

[Generating (mutually) recursive definitions](https://okmij.org/ftp/meta-programming/genletrec/)

[Scheme Programming](https://okmij.org/ftp/Scheme/)

[XML and Scheme](https://okmij.org/ftp/Scheme/xml.html)

[Scheme Programming: Miscellanea](https://okmij.org/ftp/Scheme/misc.html)

[Simple Generators](https://okmij.org/ftp/continuations/PPYield/)

[Probabilistic Programming](https://okmij.org/ftp/kakuritu/)

[From walking to zipping, Part 3: Caught in a zipper](http://conway.rutgers.edu/~ccshan/wiki/blog/posts/WalkZip3/)

[zipper](https://xlinux.nist.gov/dads/HTML/zipper.html)

[https://okmij.org/ftp/Scheme/callcc-fixpoint.txt](https://okmij.org/ftp/Scheme/callcc-fixpoint.txt)

[Dynamic Binding](https://okmij.org/ftp/Computation/dynamic-binding.html#DDBinding)
